<% for article in @paginated_articles %>
<div class="blog-post">
      <h2 class="my-blog-title"><%= article.title %></h2>
      <p class="blog-post-meta">Created on <%= article.created_at %></p>  
      <div class="my-blog"><%= article.text.try(:html_safe)  %></div>      	
      	<a href="#"><%= link_to 'Show post', article_path(article) %></a>
</div>   
  <% end %>
<%= will_paginate @paginated_articles, :style => 'color:blue' %>
